* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
  }


  .search{
    margin: 15px;
    border: none !important;
  }


  .input-search{
    
    border-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px inset;

}
.heading{
    margin-top: 10px;
    margin-bottom: 0px;
    border:1px solid gray ;
    padding: 10px;
    
}
.sidebar {
    padding: 0px;
    border: 1px solid white;
    border-top: none;
  }
.search {
    border: 1px solid gray;
    border-radius: 0px;
    margin: 10px;

 }
  
  
  .ulist {
    list-style-type: none;
  }
  .listItem1 {
    border: 1px solid black;
    font-weight: bold;
  }
  .listItem2 {
    border: 1px solid grey;
    font-weight: bold;
  }
  .listItem3 {
    border: 1px solid gray;
    font-weight: bold;
  }
  .active {
    background-color:whitesmoke;
   
  }
  .active i{
      background-color:gray;
      padding: 5px;
      color: white;
      border-radius: 100%;
      margin-bottom: 20px;
  }
  .forward {
    background-color: gray;
    padding: 5px;
    color: white;
    border-radius: 100%;
    margin-bottom: 20px;
     }
  
  .addIcon{
      background-color:goldenrod;
      padding: 10px;
      border-radius: 50%;
      color: white;
      position: fixed;
      bottom: 20px;
      left: 21%;
      border-bottom: 50px;
     }

  .divide{
      padding: 10px;
      border: 1px solid gray;
      border-top: none;
      border-bottom: none;
      border-left:3px solid gainsboro;
      
     }

  .co1{
      border-right: 1px solid gray;
      text-align: center; 
   }

  .co2{
        border-right: 1px solid gray;
        text-align: center;
  }   
 
  .co3{
    text-align: center;
    }

  .plus{
    background-color: gray;
    border:none;
    float: right;
    padding: 20px;
    border-radius:0px 0px 30px 30px;
    margin-top: -18px;
    }
  
   .cardleft {
      padding: 20px;
      border-left:none;
      border-top:none;
   }

   .cardright {
     padding: 5px;

   }


   .add{
    clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color:rgb(23, 196, 176);
    border: none;
    padding: 20px
    }
   

   .remove {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color:palevioletred;
    border: none;
    padding: 20px
    }

  .table{
    margin: 0px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: none;

  }
  
  .thead {
    background-color:goldenrod;
    border:none;
    color: white;
  }
  .table h4 {
      padding: 20px;
      font-weight: bold;
      font-size: 20px;
  }
  
  